extends layout
block content
	each post in blog_posts
		div.post_container
			h3.post_title= post.title
			p.post_content= post.post_content
			h5.post_date= post.date_created
	a(href='/blog/new') New post
