extends layout
block content
	div.new_post_form
		form(method="POST" action="")
			div
				label(for='title') Title
				br
				input(type='text' name='title' width='100px')
				br
				label(for='content') Body
				br
				textarea(type='textarea' style='resize: none' rows="20" cols="60" name='content')
				br
			button(type='submit') Submit
