doctype html
html
	head
		title mishyJari blog 
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.header
			h1#main_title { mishyJari => blog }
			h3#sub_title /* Michelle Jocelyn Frattaroli */
		div.body_container
			block content
		div.footer
			h6 footer content
